SYSCONFIG CONFIG_IOVOLTAGE=3.3

LOCATE COMP "adc_clk" SITE "B17";
IOBUF PORT "adc_clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "adc_clk" 80 MHZ;

LOCATE COMP "FT_CLK" SITE "";
IOBUF PORT "FT_CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "FT_CLK" 100 MHZ;

LOCATE COMP "FT_DATA[0]"  SITE "";
LOCATE COMP "FT_DATA[1]"  SITE "";
LOCATE COMP "FT_DATA[2]"  SITE "";
LOCATE COMP "FT_DATA[3]"  SITE "";
LOCATE COMP "FT_DATA[4]"  SITE "";
LOCATE COMP "FT_DATA[5]"  SITE "";
LOCATE COMP "FT_DATA[6]"  SITE "";
LOCATE COMP "FT_DATA[7]"  SITE "";
LOCATE COMP "FT_DATA[8]"  SITE "";
LOCATE COMP "FT_DATA[9]"  SITE "";
LOCATE COMP "FT_DATA[10]" SITE "";
LOCATE COMP "FT_DATA[11]" SITE "";
LOCATE COMP "FT_DATA[12]" SITE "";
LOCATE COMP "FT_DATA[13]" SITE "";
LOCATE COMP "FT_DATA[14]" SITE "";
LOCATE COMP "FT_DATA[15]" SITE "";
LOCATE COMP "FT_DATA[16]" SITE "";
LOCATE COMP "FT_DATA[17]" SITE "";
LOCATE COMP "FT_DATA[18]" SITE "";
LOCATE COMP "FT_DATA[19]" SITE "";
LOCATE COMP "FT_DATA[20]" SITE "";
LOCATE COMP "FT_DATA[21]" SITE "";
LOCATE COMP "FT_DATA[22]" SITE "";
LOCATE COMP "FT_DATA[23]" SITE "";
LOCATE COMP "FT_DATA[24]" SITE "";
LOCATE COMP "FT_DATA[25]" SITE "";
LOCATE COMP "FT_DATA[26]" SITE "";
LOCATE COMP "FT_DATA[27]" SITE "";
LOCATE COMP "FT_DATA[28]" SITE "";
LOCATE COMP "FT_DATA[29]" SITE "";
LOCATE COMP "FT_DATA[30]" SITE "";
LOCATE COMP "FT_DATA[31]" SITE "";

IOBUF PORT "FT_DATA[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[27]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[28]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[29]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[30]" IO_TYPE=LVCMOS33;
IOBUF PORT "FT_DATA[31]" IO_TYPE=LVCMOS33;

LOCATE COMP "BE[0]" SITE "";
LOCATE COMP "BE[1]" SITE "";
LOCATE COMP "BE[2]" SITE "";
LOCATE COMP "BE[3]" SITE "";

IOBUF PORT "BE[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "BE[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "BE[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "BE[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "SIWU_N" SITE "";
LOCATE COMP "TXE_N" SITE "";
LOCATE COMP "RXF_N" SITE "";
LOCATE COMP "WR_N" SITE "";
LOCATE COMP "RD_N" SITE "";
LOCATE COMP "OE_N" SITE "";

IOBUF PORT "SIWU_N" IO_TYPE=LVCMOS33;
IOBUF PORT "TXE_N" IO_TYPE=LVCMOS33;
IOBUF PORT "RXF_N" IO_TYPE=LVCMOS33;
IOBUF PORT "WR_N" IO_TYPE=LVCMOS33;
IOBUF PORT "RD_N" IO_TYPE=LVCMOS33;
IOBUF PORT "OE_N" IO_TYPE=LVCMOS33;

LOCATE COMP "adc_data[0]"  SITE "";
LOCATE COMP "adc_data[1]"  SITE "";
LOCATE COMP "adc_data[2]"  SITE "";
LOCATE COMP "adc_data[3]"  SITE "";
LOCATE COMP "adc_data[4]"  SITE "";
LOCATE COMP "adc_data[5]"  SITE "";
LOCATE COMP "adc_data[6]"  SITE "";
LOCATE COMP "adc_data[7]"  SITE "";
LOCATE COMP "adc_data[8]"  SITE "";
LOCATE COMP "adc_data[9]"  SITE "";
LOCATE COMP "adc_data[10]" SITE "";
LOCATE COMP "adc_data[11]" SITE "";
LOCATE COMP "adc_data[12]" SITE "";
LOCATE COMP "adc_data[13]" SITE "";

IOBUF PORT "adc_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "adc_data[13]" IO_TYPE=LVCMOS33;